*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

/* ---------- Header ---------- */
header ul {
  height: 7vh;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75em;
  margin-right: 1em;
}

header a {
  font-size: 0.75em;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a:hover {
  text-decoration: underline;
}

span.apps {
  cursor: pointer;
  font-size: 24px;
  color: gray;
  border: 10px transparent solid;
  border-radius: 50%;
}

span.apps:hover {
  background-color: whitesmoke;
  border-color: whitesmoke;
}

header button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: hsl(212, 100%, 50%);
  color: white;
  border: none;
  border-radius: 0.2rem;
}

header button:hover {
  background-color: hsl(212, 100%, 60%);
}

/* ---------- Main ---------- */
main {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  display: block;
}

main form {
  width: 100%;
}

form input {
  display: block;
  width: 60%;
  margin: 1.75rem auto;
  height: 2.75rem;
  border-radius: 1.5rem;
  border: 1px solid gainsboro;
  font-size: 1rem;
  padding-left: 2.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form input:hover,
form input:focus {
  outline: none;
  box-shadow: 1px 1.5px 3px gainsboro;
  transform: scale(1.001, 1.001);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.buttons button {
  cursor: pointer;
  font-size: 0.85rem;
  background-color: whitesmoke;
  color: black;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons button:hover {
  border: 1px solid lightgray;
  box-shadow: 0.25px 0.25px 2px gainsboro;
}

main p {
  margin: 2rem auto;
  font-size: 0.75rem;
}

main p a {
  text-decoration: none;
}

main p a:hover {
  text-decoration: underline;
}

/* ---------- Footer ---------- */
footer {
  position: fixed;
  width: 100%;
  background-color: whitesmoke;
  color: dimgray;
  height: 11vh;
  font-size: 0.9rem;
}

footer p {
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  border-bottom: 1px solid gainsboro;
}

.ftr-links {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;
}

footer ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* ---------- Media queries ---------- */
@media (max-width: 439px) {
  footer {
    top: 78vh;
    height: 22vh;
  }

  footer p {
    height: calc(100% / 4);
  }
  .ftr-links {
    height: calc(100% * 3 / 4);
    flex-direction: column;
  }

  .ftr-links ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 440px) and (max-width: 670px) {
  footer {
    top: 83.5vh;
    height: 16.5vh;
  }

  footer p {
    height: calc(100% / 3);
  }

  .ftr-links {
    height: calc(100% * 2 / 3);
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .ftr-links {
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
  }
}
